[provider]
idp = "okta"
idp_login_url = "https://exampl.okta.com/app/xxxxx/sso/saml"
saml_provide_name = "xxxxx"
auth_api = "https://example.okta.com/api/v1/authn"
session_duration = 3600

[agent]
expiration = 3300

[[roles]]
name = "test"
arn = "arn:aws:iam::xxxx:role/test-admin"

[[roles]]
name = "prod"
arn = "arn:aws:iam::xxxx:role/stg-admin"
